.contact-table {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #78b234;
  color: white;
}

.table-text{
  text-align: center;
}