input[type="text"], input[type="password"], input[type="number"] {
  border-radius:5px;
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  outline: none;
}

form {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  color: rgb(63, 62, 62);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-error {
    color: red;
    font-size: 12px;
}


form div {
  width: 100%;
  }

@media all and (max-width: 720px) {

  form{
    width: 100%;
}
  }